.tabs .indicator {
	background-color: #FFF!important;
}

body{
	background-color: #f2f2f2;
}

.titulo{
	font-size: 1.3rem;
	margin-left: 5%;
	margin-right: auto;
}

.topo-fixo{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.section{
	margin-top: 115px;
}